.formselection{
  margin-left: 40px;
  font-size: 18px;
  margin-bottom: 24px;
}

.btn-red{
  background: rgb(226, 60, 57);
  border: 2px solid rgb(226, 60, 57);
  color: white !important;
}

.btn-red:hover{
  background: rgb(226, 60, 57);
  border: 2px solid rgb(226, 60, 57);
}

.fontcolour{
  color: rgb(84, 83, 83);
}
.clear{
  clear:both;
}

.page-background{
  background-color: rgb(191, 215, 255);
}

.feature-colour{
 background: rgb(191, 215, 255) !important;
}
.contentbox{
  word-wrap: break-word;
}
.contentbox h5{
  line-height: 0px;
  color: black;
}

.contentbox h4{
  color: black;
}

.speechbubble{
  background-color: #F2F2F2;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 100%;

}

.speechbubble::before {
  background-color: #F2F2F2;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 71px;
  transform:             rotate( 29deg ) skew( -35deg );
  -moz-transform:    rotate( 29deg ) skew( -35deg );
  -ms-transform:     rotate( 29deg ) skew( -35deg );
  -o-transform:      rotate( 29deg ) skew( -35deg );
  -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}

.speechbubblett {
  float: left;   
  margin: 5px 45px 35px 20px;         
}

.speechbubblett::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;           
}

.marg{
  margin-bottom: 0px;
}

.questionpanel{

}

.imgsize{
  max-height: 400px;
}

.afterguess{
  display: none;
}